<div class="form-container">
    <form id="form1">
        <input id="id" name="id" type="hidden"/>
        <ul class="form-table clearBox response-table" style="min-width:35%;margin: 0px auto;">
            <li class="clearBox">
                <div class="label title-box float-box">丢失人:</div>
                <div  class="content-box float-box"><input name="fullName" class="f5 easyui-textbox" readonly type="text"/></div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">设备编号:</div>
                <div  class="content-box float-box"><input name="clientId" class="f5 easyui-textbox" readonly type="text"/></div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">经度:</div>
                <div class="content-box float-box"><input id="lon" name="lon" class="f5 easyui-textbox" readonly  type="text"/></div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">纬度:</div>
                <div class="content-box float-box"><input id="lat" name="lat" class="f5 easyui-textbox" readonly  type="text"/></div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">丢失时间:</div>
                <div class="content-box float-box"><input id="lostTime" name="lostTime" class="f5 easyui-datebox" readonly  type="text"/></div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">丢失状态:</div>
                <div class="content-box float-box">
                    <label><input name="lostFlag" type="radio" value="1" checked="checked"/><span></span>未找回</label>
                    <label><input name="lostFlag" type="radio" value="0"/><span></span>已找回</label>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">丢失说明:</div>
                <div class="content-box float-box"><input name="lostContent" class="f8 easyui-textbox" readonly type="text" multiline="true"
                                       style="height: 180px;width: 500px"/></div>
            </li>
            <li class="mapmain">
                <div class="map-title">
                    <div class="map-name">百度地图:</div>
                    <div id="mapbox" class="content-box map-title "></div>
                </div>
            </li>
        </ul>

        <!--<table class="form-table" style="min-width:400px;">-->
            <!--<tr>-->
                <!--<td class="label">丢失人:</td>-->
                <!--<td ><input name="fullName" class="f5 easyui-textbox" readonly type="text"/></td>-->
                <!--<td class="label">设备编号:</td>-->
                <!--<td ><input name="clientId" class="f5 easyui-textbox" readonly type="text"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">经度:</td>-->
                <!--<td ><input  name="lon" class="f5 easyui-textbox" readonly  type="text"/></td>-->
                <!--<td class="label">纬度:</td>-->
                <!--<td ><input  name="lat" class="f5 easyui-textbox" readonly  type="text"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">丢失时间:</td>-->
                <!--<td ><input id="lostTime" name="lostTime" class="f5 easyui-datebox" readonly  type="text"/></td>-->
                <!--<td class="label">丢失状态:</td>-->
                <!--<td>-->
                    <!--<label><input name="lostFlag" type="radio" value="0" checked="checked"/><span></span>未找回</label>-->
                    <!--<label><input name="lostFlag" type="radio" value="1"/><span></span>已找回</label>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">丢失说明:</td>-->
                <!--<td colspan="3"><input name="lostContent" class="f8 easyui-textbox" readonly type="text" multiline="true"-->
                            <!--style="height: 180px;width: 500px"/></td>-->
            <!--</tr>-->
        <!--</table>-->
    </form>
</div>

