<div id="grid-toolbar">
    <div class="grid-search">
        <form id="searchForm">
            <table class="search-table">
                <tr>
                    <td class="label">申报时间：</td>
                    <td><input id="txtStartTime" name="startTime" class="easyui-databox" width="120" data-options="prompt:'请输入开始时间'"/></td>
                    <td class="label">—</td>
                    <td><input id="txtEndTime" name="endTime" class="easyui-databox" width="120" data-options="prompt:'请输入结束时间'"/></td>
                </tr>
            </table>
        </form>
        <div class="search-toolbar">
            <a id="btnSearch" href="javascript:void(0)" class="c1" style="width:80px">查询</a>
            <a id="btnClear" href="javascript:void(0)" class="c4" style="width:80px">清空</a>
        </div>
    </div>
    <div class="grid-toolbar">
        <a id="btnReturn" href="javascript:void(0);" class="c1">返回</a>
    </div>
</div>
<table id="grid"></table>