<div class="form-container">
    <form id="form2">

        <input  name="createId" type="hidden"/>
        <table class="form-table" style="min-width: 445px;">
            <tr>
                <td class="label">设备编码:</td>
                <td><input name="clientId" class="f6 easyui-textbox" data-options="required:true,prompt:'请输入设备编码'"
                           type="text"/></td>
            </tr>
            <tr>
                <td class="label">Mac地址:</td>
                <td><input  name="MAC" class="f6 easyui-textbox"
                            data-options="required:true,prompt:'请输入Mac地址'" type="text"/></td>
            </tr>
            <tr>
                <td class="label">蓝牙服务:</td>
                <td><input id="BLEService" name="BLEService" class="f6 easyui-textbox" data-options="required:false,prompt:'请输入蓝牙服务'" type="text"/></td>
            </tr>
            <tr>
                <td class="label">蓝牙特征值:</td>
                <td><input id="BLECharacteristic" name="BLECharacteristic" class="f6 easyui-textbox" data-options="required:false,prompt:'请输入蓝牙特征值'" type="text"/></td>
            </tr>
        </table>
    </form>
</div>