<div class="form-container">
    <form id="form1">
        <input name="areaId" type="hidden" />
        <input id="hidParentId" name="parentId" type="hidden" value="0"/>
        <input id="hidParentLevel" name="parentLevel" type="hidden" value="0"/>
        <input id="hidParentPath" name="parentPath" type="hidden"/>
        <table class="form-table">
            <tr>
                <td class="label">编码:</td>
                <td><input name="areaCode" class="f5 easyui-textbox" type="text" /></td>
            </tr>
            <tr>
                <td class="label">名称:</td>
                <td><input name="areaName" class="f5 easyui-textbox" type="text" /></td>
            </tr>
            <tr>
                <td class="label">简称:</td>
                <td><input name="shortName" class="f5 easyui-textbox" type="text" /></td>
            </tr>
            <tr>
                <td class="label">全称:</td>
                <td><input name="fullName" class="f5 easyui-textbox" type="text" /></td>
            </tr>
            <tr>
                <td class="label">层级编码:</td>
                <td><input name="levelCode" class="f5 easyui-textbox" type="text" /></td>
            </tr>
            <tr>
                <td class="label">排序号:</td>
                <td><input name="sortNo" class="f5 easyui-textbox" type="text" data-options="required:true"/></td>
            </tr>
            <tr>
                <td class="label">备注:</td>
                <td><input name="comment" class="f5 easyui-textbox" type="text" /></td>
            </tr>
            <tr>
                <td class="label">自定义标记:</td>
                <td><input name="customFlag" class="f5 easyui-textbox" type="text" data-options="required:true"/></td>
            </tr>
        </table>
    </form>
</div>