<div class="form-container">
    <form id="form1">
        <input id="hidResourceId" name="resourceId" type="hidden"/>
        <input id="hidParentId" name="parentId" type="hidden" value="0"/>
        <input id="hidParentLevel" name="parentLevel" type="hidden" value="0"/>
        <input id="hidParentPath" name="parentPath" type="hidden"/>
        <ul class="form-table clearBox response-table" style="min-width:35%;margin: 0px auto;">
            <li class="clearBox">
                <div class="label title-box float-box">编号:</div>
                <div class="content-box float-box">
                    <input name="resourceNo" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">名称:</div>
                <div class="content-box float-box">
                    <input name="resourceName" class="f5 easyui-textbox" type="text" data-options="required:true"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">排序号:</div>
                <div class="content-box float-box">
                    <input name="sortNo" class="f5 easyui-textbox" type="text" data-options="required:true"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">类别:</div>
                <div class="content-box float-box">
                    <input name="category" class="f5 easyui-textbox" type="text" data-options="required:true"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">标题:</div>
                <div class="content-box float-box">
                    <input name="caption" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">资源地址:</div>
                <div class="content-box float-box">
                    <input name="url" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">请求方式:</div>
                <div class="content-box float-box">
                    <input name="method" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">描述:</div>
                <div class="content-box float-box">
                    <input name="description" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">参数:</div>
                <div class="content-box float-box">
                    <input name="json" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label title-box float-box">备注:</div>
                <div class="content-box float-box">
                    <input name="comment" class="f5 easyui-textbox" type="text"/>
                </div>
            </li>
        </ul>

        <!--<table class="form-table" style="min-width:550px;">-->
            <!--<tr>-->
                <!--<td class="label">编号:</td>-->
                <!--<td>-->
                    <!--<input name="resourceNo" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">名称:</td>-->
                <!--<td>-->
                    <!--<input name="resourceName" class="f5 easyui-textbox" type="text" data-options="required:true"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">排序号:</td>-->
                <!--<td>-->
                    <!--<input name="sortNo" class="f5 easyui-textbox" type="text" data-options="required:true"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">类别:</td>-->
                <!--<td>-->
                    <!--<input name="category" class="f5 easyui-textbox" type="text" data-options="required:true"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">标题:</td>-->
                <!--<td>-->
                    <!--<input name="caption" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">资源地址:</td>-->
                <!--<td>-->
                    <!--<input name="url" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">请求方式:</td>-->
                <!--<td>-->
                    <!--<input name="method" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">描述:</td>-->
                <!--<td>-->
                    <!--<input name="description" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">参数:</td>-->
                <!--<td>-->
                    <!--<input name="json" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="label">备注:</td>-->
                <!--<td>-->
                    <!--<input name="comment" class="f5 easyui-textbox" type="text"/>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    </form>
</div>