<div id="grid-toolbar">
    <div class="grid-search">
        <form id="searchForm">
            <ul class="search-table  clearBox">
                <li class="clearBox">
                    <div class="select-condition clearBox">
                        <div class="label">角色名称：</div>
                        <div class="select-input">
                            <input name="roleName" class="f1 easyui-textbox" data-options="prompt:'请输入角色名称'" type="text"/>
                        </div>
                    </div>
                </li>
            </ul>

            <!--<table class="search-table">-->
                <!--<tr>-->
                    <!--<td class="label">角色名称：</td>-->
                    <!--<td>-->
                        <!--<input name="roleName" class="f1 easyui-textbox" data-options="prompt:'请输入角色名称'" type="text"/>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        </form>
        <div class="search-toolbar">
            <a id="btnSearch" href="javascript:void(0)" class="c1" style="width:80px">查询</a>
            <a id="btnClear" href="javascript:void(0)" class="c4" style="width:80px">清空</a>
        </div>
    </div>
    <div class="grid-toolbar">
        <a id="btnAdd" href="javascript:void(0);" class="c1">添加</a>
        <a id="btnEdit" href="javascript:void(0);" class="c1">编辑</a>
        <a id="btnRemove" href="javascript:void(0);" class="c1">删除</a>
    </div>
</div>
<table id="grid"></table>
<div id="dlg" style="display: none;"></div>
<div id="dlg-buttons">
    <a id="btnSave" href="javascript:void(0)" style="width:80px">保存</a>
    <a id="btnCancel" href="javascript:void(0)" style="width:80px">取消</a>
</div>