<div class="form-container">
    <form id="form2">
        <input id="id" name="id" type="hidden"/>
        <ul id="send" class="clearBox send-float">
            <li class="clearBox">
                <div class="label"><label for="all">所有系统:</label></div>
                <div class="send-check">
                    <input id="all" name="all" class="check-box" type="checkbox" data-options="required:true"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label"><label for="ios">苹果(IOS):</label></div>
                <div class="send-check">
                    <input id="ios" name="ios" class="check-box" type="checkbox" data-options="required:true"/>
                </div>
            </li>
            <li class="clearBox">
                <div class="label"><label for="android">安卓(Android):</label></div>
                <div class="send-check">
                    <input id="android" name="android" class="check-box" type="checkbox" data-options="required:true"/>
                </div>
            </li>
        </ul>
    </form>
</div>