<div id="grid-toolbar">
    <div class="grid-search">
        <form id="searchForm">
            <ul class="search-table clearBox">
                <li class="clearBox">
                    <div class="select-condition clearBox">
                        <div class="label">类型：</div>
                        <div clas="select-input">
                            <select class="easyui-combobox" style="width: 100px;" name="overdueFlag">
                                <option value="">一般箱包</option>
                                <option value="0">学生箱包</option>
                                <option value="1">商务箱包</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-condition clearBox">
                        <div class="label">版本号：</div>
                        <div class="select-input">
                            <input name="filePath" class="f6 easyui-textbox" type="text"/>
                        </div>
                    </div>
                </li>
            </ul>

        </form>
        <div class="search-toolbar">
            <a id="btnSearch" href="javascript:void(0)" class="c1" style="width:80px">查询</a>
            <a id="btnClear" href="javascript:void(0)" class="c4" style="width:80px">清空</a>
        </div>
    </div>
    <div class="grid-toolbar">
        <a id="btnAdd" href="javascript:void(0);" class="c1">添加</a>
        <a id="btnEdit" href="javascript:void(0);" class="c1">编辑</a>
        <a id="btnRemove" href="javascript:void(0);" class="c1">删除</a>
    </div>
</div>
<table id="grid"></table>
<div id="dlg" style="display: none;"></div>
<div id="dlg-buttons">
    <a id="btnSave" href="javascript:void(0)" style="width:80px">保存</a>
    <a id="btnCancel" href="javascript:void(0)" style="width:80px">取消</a>
</div>